.aside .logo::before{
    border-top: 4px solid #fa5b0f;
    border-left: 4px solid #fa5b0f;
}

.aside .logo::after{
    border-bottom: 4px solid #fa5b0f;
    border-right: 4px solid #fa5b0f;
}

.aside .nav li a:hover,
body.dark .aside .nav li a:hover,
.aside .nav li a.active,
body.dark .aside .nav li a.active,
.about .about-content .about-text h3 span,
.services .services-item .services-item-inner .icon .fa,
body.dark .portfolio .portfolio-filter button.active,
.portfolio .portfolio-filter button.active,
.portfolio .portfolio-item .portfolio-item-inner .portfolio-info .icon .fa,
.blog .blog-item .blog-item-inner .blog-info .blog-tags a,
.contact .contact-info-item .icon .fa{
    color: #fa5b0f;
}


.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.container .intro .social-link a,
.section-title h2::before,
.section-title h2::after,
.btn,
.about .about-content .skills .skill-item .progress-in,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .timeline .circle-dot,
.services .services-item .services-item-inner:hover .icon,
.blog .blog-item .blog-item-inner .blog-img .blog-data{
    background-color: #fa5b0f;
}


.portfolio .portfolio-filter button.active{
    border-bottom: 2px solid #fa5b0f;
}
